.grid {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: start;
    }

@media (min-width: 768px) and (max-width: 1024px) {
  .grid {
    background-color: lightblue;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    font-size: 14px;
    background-color: pink;
    grid-template-columns: 1fr ;
  }
}