.grid {
  background-color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: start;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1280px) {  
  .grid {
    background-color: lightblue;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    font-size: 14px;
    background-color: pink;
    grid-template-columns: 1fr ;
  }
}